
<div class="content" role="main">
  <div class="container-fluid">
    <div>
      <h1>Student list</h1>
    </div>
    <form >
      <div class="add-student">
        <div class="name">
          <label for="name">name: </label>
          <div class="flex justify-content-center">
            <input id="name" type="text" pInputText [(ngModel)]="value" />
          </div>
        </div>
        <div class="age">
          <label for="age">age: </label>
          <input type="text" name="age" id="">
        </div>
        <div class="state">
          <label for="state">state: </label>
          <input type="text" name="state" id="">
        </div>
      </div>
      <button>Update</button>
    </form>
    <div class="filter">
      <li *ngFor="let item of items">{{item.description}}</li>
    </div>
  
  </div>
  <div class="add-item">
    <label for="addItemInput">What would you like to do today?</label>
    <input
    pInputText [(ngModel)]="value"
    #newItem
    placeholder="add an item"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="lg-text-input mx-2"
    id="addItemInput" />
  
  <button class="btn-primary" (click)="addItem(newItem.value)">Add</button>
  </div>
  </div>
    