<div class="toolbar container-fluid" role="banner">
    <div class="row">
        <div class="address-book-title col-12 py-5 text-center text-xl-start">
            <span class="address-book ps-xl-4 ms-xl-3">Address Book</span>
        </div>
        <div class="navigation py-2 ps-4 d-flex justify-content-between align-items-center col-12">
            <div class="left-contents d-flex ps-xl-3 ms-xl-2">
                <nav class="pe-2">
                <a routerLink="/">home</a>
                </nav>
                <nav class="ps-2">
                <a (click)="onDisplayToggle()">+ADD</a>
                </nav>
            </div>
            <div class="right-contents ps-xl-2">
                <img src="../assets/blog-icon.png" alt="">
            </div>
        </div>
    </div>
</div>